
h1 {
font-weight: bold  
    color: #7289da;
    background-color: 	#282b30;
}

body {
  font-family: Arial;
  text-align: center;
  line-height: 0,5;
    font-size: 16px;
  color: #7289da;
   background-color: #424549;
}
p {
    color: #c7c7c7;
}
h2 {
    color: #c7c7c7;
text-decoration: line-through 
  
}
h6 {
  font-weight: bolder900
}
h3 {
      font-size: 1.5em;
    background-color: #919191;
    margin: 20px;
    padding: 40px;
      border-style: dashed;
    border-width: 3px;
    border-color: white;
}
